COMPOSE_PROJECT_NAME=menorah
MENORAH_DATA_ROOT=/srv/menorah
MENORAH_BACKUP_ROOT=/srv/menorah/backups

PUBLIC_EMAIL=admin@menorah.me
LIVEKIT_UPSTREAM=https://livekit-vps.example.internal
NEXT_PUBLIC_RAZORPAY_KEY_ID=REPLACE_PUBLIC_KEY

WWW_DOMAIN=www.menorah.me
APP_DOMAIN=app.menorah.me
ADMIN_DOMAIN=admin.menorah.me
API_IOS_DOMAIN=api-ios.menorah.me
API_ANDROID_DOMAIN=api-android.menorah.me
API_WEB_DOMAIN=api-web.menorah.me
API_ADMIN_DOMAIN=api-admin.menorah.me
CALLS_DOMAIN=calls.menorah.me
